
@{
    Layout = "_Layout2";
}

<div class="text-center">
    <h1 class="display-4">Adopción de Mascotas</h1>
    
</div>

<div class="container">
                <form method="Post">
                    <h1>Formulario</h1>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="">Nombre:</label>
                                <input type="text" name="nombre" id="" class="form-control">
                            </div>
                            <div class="row">
                                <div class="col">
                                    
                                    <div class="form-group">
                                        <label for="">Apellido Paterno:</label>
                                        <input type="text" name="apePat" id="" class="form-control">
                                    </div>
                                </div>
                                <div class="col">
                                
                                    <div class="form-group">
                                        <label for="">Apellido Materno :</label>
                                        <input type="text" name="apeMat" id="" class="form-control">
                                    </div>
                                </div>   
                            </div>
                            <div class="form-group">
                                <label for="">Tipo Mascota:</label>
                                <select name="tipoMas" id="" class="form-control">
                                    <option value="P">Perro</option>
                                    <option value="G">Gato</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            
                            <div class="form-group">
                                <label for="">Descripcion del Espacio:</label>
                                <textarea name="Descripcion" id="" cols="30" rows="10" class="form-control"></textarea>
                            </div>

                            <div class="form-group">                      
                                <label for="">Telefono:</label>
                                <input type="text" name="Telefono" id="" class="form-control">                  
                            </div>
                            
                        </div>
                        <div class="col">
                            
                            <div class="form-group">
                                <label for="">Distrito:</label>
                                <select name="Distrito" id="" class="form-control">
                                    <option value="A">Distrito A</option>
                                    <option value="B">Distrito B</option>
                                    <option value="C">Distrito C</option>
                                    <option value="D">Distrito D</option>
                                    
                                </select>
                            </div>

                        
                            <div class="form-group">                      
                                <label for="">direccion:</label>
                                <input type="text" name="Direccion" id="" class="form-control">                  
                            </div>
                            

                            
                            
                        </div>
                    </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">    
                        <div class="form-group">
                            <button class="btn btn-primary">Registrar</button>
                        </div>
                    </div>   
                    <div class="col"></div>
                    
                </div>       
                </form>
    </div>